# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules

# Testing
/coverage

# Production
/build

# Logs
logs
*.log
npm-debug.log*

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Dotenv environment variables files
.env
.env.development.local
.env.local
.env.production.local
.env.test
.env.test.local

# Misc
.DS_Store
