:root {
  --dark-theme-primary-text: #fffffff0;
  --dark-theme-secondary-text: #9d9fa2;
  --dark-theme-primary-color: #118cff;
  --dark-theme-background-color: #1d2022;
  --dark-theme-secondary-panel-color: #232425;
}

body {
  margin: 0px;
}

.App {
  background-color: var(--dark-theme-background-color);
  display: flex;
  flex-direction: row;
  font-family: 'Open Sans', sans-serif;
  font-family: sans-serif;
  font-size: 13px;
}

section#main {
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
}

header {
  align-items: center;
  background-color: var(--dark-theme-background-color);
  border-bottom: 1px solid var(--dark-theme-background-color);
  box-sizing: border-box;
  color: var(--dark-theme-primary-text);
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: flex-start;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

header:hover {
  border-bottom: 1px solid #000000;
  transition: border-bottom 0.5s;
  transition-delay: 0.5s;
}

section#main > header svg {
  height: 20px;
  width: 20px;
  color: var(--dark-theme-secondary-text);
}

#path-selector {
  width: 185px;
  font-weight: bold;
  font-size: 1.1em;
  margin-left: 10px;
}

button {
  background-color: inherit;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border-radius: 5px;
  color: var(--dark-theme-secondary-text);
  padding: 4px 6px;
}

button:hover {
  background-color: #2a2c2f;
  transition: background-color 0.5s;
  transition-delay: 0.5s;
}

main {
  padding: 20px 10px 20px 5px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 110px);
  grid-auto-rows: 110px;
  grid-gap: 2px;
  justify-items: center;
  align-items: start;
  justify-content: space-evenly;
}
